[data-single] {
    display: flex;
    flex-direction: column;
    img {
        width: 100%;
        height: 45vh;
        object-fit: cover;
    }
    a {
        text-decoration: none;
        color: #3E4441;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .5rem;
    }
    [data-content] {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3rem;
        padding: 5rem;
    }
}

@media (max-width: 1025px) {
    [data-content] {
        flex-direction: column;
    }
}
